*{
  box-sizing: border-box;
}
.app{
  background: rgb(0, 0, 0);
  width: 100%;
  height: calc(100vh -56px);
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.appContainer{
  height: 100vh;
  width: 100vw;
  background:rgb(57, 72, 102);
}

.userName{
  position: fixed;
  padding: 5px 0 5px 20px;
  width: 100%;
  background: rgb(89, 80, 139);
  font-size: 22px;
  color: aliceblue;
}
.chatContent{
  padding: 10px;
  overflow-x:auto;
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.chatContent::-webkit-scrollbar {
  width: 2px;
}
.chatContent::-webkit-scrollbar-thumb {
  background: #888;
}
.messageBody{
  display: flex;
  border-radius: 10px;
  padding: 10px;
  background: rgb(177, 177, 177);
  margin-top: 10px;
  align-self: flex-start;
}
.recived{
  align-self: flex-end;
  background: rgb(130, 255, 119);
}
.message{
  font-size: 15px;
}
.time{
  font-size: 10px;
  margin-left: 10px;
}
.sendMessage{
  height: 40px;
  width: 100%;
  display: flex;
}
.sendMessage>input{
flex: 1;
outline: 0;
border: 0;
border-radius: 20px;
padding: 0 15px;
}
.sendMessage>button{
  /* display: none; */
  font-size: 30px;
  width: 40px;
  border: 0;
  padding: 0;
  border-radius: 50%;
}