*{
  box-sizing: border-box;
}
.app{
  background: rgb(0, 0, 0);
  width: 100%;
  max-height: calc(100vh - 56px);
  height: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.appContainer{
  height: calc(100vh );
  width: 100vw;
  background:#171727;
}

.userName{
  position: fixed;
  padding: 5px 0 5px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #0F0F1B;
  font-size: 22px;
  color: aliceblue;
  z-index: 9;
  align-items: center;
  text-transform: capitalize;
}
.userName .deleteall{
margin-right: 10px;
border: 1px solid #888;
border-radius: 10px ;
background: rgb(42, 110, 104);
padding: 3px 10px;
cursor: pointer;

}
.chatContent{
  padding: 10px;
  overflow-x:auto;
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-top: 50px;
}
.chatContent::-webkit-scrollbar {
  width: 2px;
}
.chatContent::-webkit-scrollbar-thumb {
  background: #888;
}
.messageBody{
  position: relative;
  display: flex;
  max-width: calc(100vw - 60px);
  border-radius: 10px;
  padding: 10px;
  background: rgb(177, 177, 177);
  margin-top: 18px;
  align-self: flex-start;
}
.username{
  position: absolute;
  top: -15px;
  font-size: 12px;
  color: aliceblue;
}
.recived{
  align-self: flex-end;
  background: rgb(130, 255, 119);
}
.recived>.username{
  right: 15px;
}
.message{
  max-width: 90%;
  font-size: 15px;
  word-wrap: break-word;
}
.time{
  font-size: 10px;
  margin-left: 10px;
}
.sendMessage{
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
}
.sendMessage>input{
flex: 1;
outline: 0;
border: 0;
border-radius: 20px;
padding: 0 15px;
}
.sendMessage>button{
  /* display: none; */
  font-size: 30px;
  width: 40px;
  border: 0;
  padding: 0;
  border-radius: 50%;
}